<% if @word.image() == "" %>
  <div class="panel panel-info">
    <h2 class="padding-left"><%= @word.name() %></h2>
    <div class="panel-body">
      <ol>
        <% @word.definitions().each() do |definition| %>
          <li><i><%= definition.definition() %></i></li>
        <% end %>
      </ol>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <h2 class="padding-left"><%= @word.name() %></h2>
        <div class="panel-body">
          <ol>
            <% @word.definitions().each() do |definition| %>
              <li><i><%= definition.definition() %></i></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-body">
          <img src="<%= @word.image() %>" alt="<%= @word.name() %>">
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="center">
  <form action="/word/<%= @word.id() %>" method="post">
    <p>What do you think <i><b><%= @word.name() %></i></b> means? Add every possible definition you can think of here!</p>
    <input class="longer-input" type="text" name="definition" required>
    <button type="submit" class="btn btn-info" name="button">Add Definition</button>
  </form>
  <br>
  <form action="/word/<%= @word.id() %>" method="post">
    <p>Have you found an image of <i><b><%= @word.name() %></i></b> on the web? Copy and paste the URL here to add it!</p>
    <input class="longer-input" type="text" name="image" required="">
    <button type="submit" class="btn btn-info" name="button">Add Image</button>
  </form>
  <br><br>
  <a href="/"><button type="button" class="btn btn-success"><span class="larger-font">Add more words!</span></button></a>
</div>
<br>
